.App {
  margin: 30px auto;
  color: #fdfdfd;
  max-width: 500px;
  color: #101216;
}
h1 {
  text-align: center;
}

.Container {
  color: #495464;
}
footer {
  font-family: monospace;
  font-size: 12px;
}
