section {
  padding: 20px;
  box-shadow: 5px 10px 15px rgb(0 0 0 / 20%);
  background: white;
  margin-top: 20px;
}
.hint {
  font-size: 12px;
  margin: 5px;
}

.input {
  background: rgb(237, 243, 159);
}
